html {
  height: 100%;
}

body {
  background: rgb(135, 206, 250);
  background: no-repeat
    linear-gradient(
      180deg,
      rgba(135, 206, 250, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
}

.datesContainer {
  display: flex;
  height: 38px;
  margin-top: 10px;
}
input {
  flex: 1;
  border: none;
  margin: 0px 5px 0px 5px;
}
.passenger-count {
  display: flex;
  margin: 0px 0px 5px 5px;
}
.passenger-count > select {
  width: 40px;
  height: 40px;
  align-self: flex-end;
}
.passengerImg {
  height: 48px;
  width: 48px;
}
.passengers {
  display: flex;
  flex-direction: row;
}
.passengersAndScales {
  display: flex;
  margin-top: 10px;
}
.placesAndDatesContainer {
  display: flex;
  flex-direction: column;
}
.placesContainer {
  display: flex;
  width: 100%;
}
.origin {
  flex: 1;
  margin: 0px 5px 0px 5px;
}
.destination {
  flex: 1;
  margin: 0px 5px 0px 5px;
}

/* React-select arranges */
.css-yk16xz-control {
  border: none !important;
  border-radius: 0% !important;
}
.css-1okebmr-indicatorSeparator {
  display: none;
}
.css-tj5bde-Svg {
  color: transparent;
  width: 20px;
}

.roundTripAndClassContainer {
  display: flex;
  height: 25px;
  margin-bottom: 10px;
}
.roundTrip {
  border: none;
  background-color: white;
  flex: 1;
  margin-right: 2.5px;
}
.class {
  border: none;
  background-color: white;
  flex: 1;
  margin-left: 2.5px;
}
.scales {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 800px;
  top: 16px;
}
.scales-info {
  position: relative;
  left: 13px;
  width: 42px;
}
.searchButton {
  background: rgb(170, 221, 253);
  position: relative;
  left: 600px;
  top: -20px;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 1px 1px 1px black;
  outline: none;
  color: black;
  font-weight: bold;
}
.searchButton:active {
  animation-name: clickerino;
  animation-duration: 1s;
  animation-timing-function: linear;
}
.searchForm {
  border: solid 1px white;
  margin: 15px;
  margin-bottom: -69px;
  padding-bottom: 5px;
}
.search-form {
  margin-bottom: -69px;
}
.search-results {
  margin: 120px 0px 0px 15px;
}
.individual-result-Outbound {
  background-image: url("../img/resultado-ida1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;

  margin: 0px 15px 15px 0px;

  animation-name: slideInFromLeft;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}
.individual-result-Inbound {
  background-image: url("../img/resultado-vuelta1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;

  margin: 0px 15px 15px 0px;

  animation-name: slideInFromRight;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}
.airline-logo-Outbound {
  border-radius: 25% 50% 50% 0%;
  position: relative;
  left: 979px;
  top: 27px;
  height: 100px;
  width: 160px;
}
.airline-logo-Inbound {
  border-radius: 50% 25% 0% 50%;
  position: relative;
  left: 139px;
  top: 35px;
  height: 100px;
  width: 160px;
}
.ida-Outbound {
  width: 220px;
  position: relative;
  left: 243px;
  top: -59px;
  color: darkblue;
}
.ida-Inbound {
  width: 220px;
  position: relative;
  left: 775px;
  top: -59px;
  color: darkblue;
}
.vuelta-Outbound {
  width: 220px;
  position: relative;
  left: 243px;
  top: -48px;
  color: darkblue;
}
.vuelta-Inbound {
  width: 220px;
  position: relative;
  left: 775px;
  top: -48px;
  color: darkblue;
}
.escalas-Outbound {
  width: 110px;
  position: relative;
  left: 730px;
  top: -86px;
  color: darkblue;
}
.escalas-Inbound {
  width: 110px;
  position: relative;
  left: 460px;
  top: -85px;
  color: darkblue;
}
.precio-Outbound {
  width: 110px;
  position: relative;
  left: 730px;
  top: -79px;
  color: darkblue;
}
.precio-Inbound {
  width: 110px;
  position: relative;
  left: 460px;
  top: -78px;
  color: darkblue;
}
.btn-select-Outbound {
  position: relative;
  top: -65px;
  left: 180px;
  background-color: transparent;
  color: darkblue;
  border: 1px solid darkblue;
  box-shadow: -1px 1px 1px black;
  outline: none;
  font-weight: bold;
}
.btn-select-Inbound {
  position: relative;
  top: -65px;
  left: 790px;
  background-color: transparent;
  color: darkblue;
  border: 1px solid darkblue;
  box-shadow: -1px 1px 1px black;
  outline: none;
  font-weight: bold;
}
.btn-ida:active {
  animation-name: clickerino;
  animation-duration: 1s;
  animation-timing-function: linear;
}
.info-selec {
  width: 220px;
  position: relative;
  left: 265px;
  top: -72px;
  color: darkblue;
  font-weight: bold;
}

@keyframes clickerino {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.78);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media all and (max-width: 767.5px) {
  .datesContainer {
    display: flex;
    height: 38px;
    margin-top: 10px;
  }
  input {
    flex: 1;
    border: none;
    margin: 0px 5px 0px 5px;
  }
  .passenger-count {
    display: flex;
    margin: 0px 0px 5px 5px;
  }
  .passenger-count > select {
    width: 30px;
    height: 24px;
  }
  .passengerImg {
    height: 24px;
    width: 24px;
  }
  .passengers {
    display: flex;
    flex-direction: column;
  }
  .passengersAndScales {
    display: flex;
    margin-top: 10px;
  }
  .placesAndDatesContainer {
    display: flex;
    flex-direction: column;
  }
  .placesContainer {
    display: flex;
    width: 100%;
  }
  .origin {
    flex: 1;
    margin: 0px 5px 0px 5px;
  }
  .destination {
    flex: 1;
    margin: 0px 5px 0px 5px;
  }

  /* React-select arranges */
  .css-yk16xz-control {
    border: none !important;
    border-radius: 0% !important;
  }
  .css-1okebmr-indicatorSeparator {
    display: none;
  }
  .css-tj5bde-Svg {
    color: transparent;
    width: 20px;
  }

  .roundTripAndClassContainer {
    display: flex;
    height: 25px;
    margin-bottom: 10px;
  }
  .roundTrip {
    border: none;
    background-color: white;
    flex: 1;
    margin-right: 2.5px;
  }
  .class {
    border: none;
    background-color: white;
    flex: 1;
    margin-left: 2.5px;
  }
  .scales {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 180px;
    top: 0px;
  }
  .scales-info {
    position: relative;
    left: 56px;
    width: 53px;
  }
  .searchButton {
    background: rgb(170, 221, 253);
    position: relative;
    left: 136px;
    top: -29px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 1px 1px 1px black;
    outline: none;
    color: black;
    font-weight: bold;
  }
  .searchButton:active {
    animation-name: clickerino;
    animation-duration: 1s;
    animation-timing-function: linear;
  }
  .searchForm {
    border: solid 1px white;
    margin: 15px;
    margin-bottom: -69px;
    padding-bottom: 5px;
  }
  .search-form {
    margin-bottom: -69px;
  }
  .search-results {
    margin: 120px 0px 0px 15px;
  }
  .individual-result-Outbound {
    background-image: url("../img/resultado-ida2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

    margin: 0px 15px 15px 0px;

    animation-name: slideInFromLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;
  }
  .individual-result-Inbound {
    background-image: url("../img/resultado-vuelta2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

    margin: 0px 15px 15px 0px;

    animation-name: slideInFromRight;
    animation-duration: 3s;
    animation-timing-function: ease-out;
  }
  .airline-logo-Outbound {
    border-radius: 25% 50% 50% 0%;
    position: relative;
    left: 178px;
    top: 5px;
    height: 78px;
    width: 128px;
  }
  .airline-logo-Inbound {
    border-radius: 50% 25% 0% 50%;
    position: relative;
    left: 38px;
    top: 4px;
    height: 78px;
    width: 128px;
  }
  .ida-Outbound,
  .ida-Inbound {
    width: 220px;
    position: relative;
    left: 77px;
    top: 28px;
    color: darkblue;
  }
  .vuelta-Outbound,
  .vuelta-Inbound {
    width: 220px;
    position: relative;
    left: 77px;
    top: 29px;
    color: darkblue;
  }
  .escalas-Outbound {
    width: 110px;
    position: relative;
    left: 99px;
    top: -97px;
    color: darkblue;
  }
  .escalas-Inbound {
    width: 110px;
    position: relative;
    left: 183px;
    top: -97px;
    color: darkblue;
  }
  .precio-Outbound {
    width: 110px;
    position: relative;
    left: 99px;
    top: -93px;
    color: darkblue;
  }
  .precio-Inbound {
    width: 110px;
    position: relative;
    left: 183px;
    top: -93px;
    color: darkblue;
  }
  .btn-select-Outbound,
  .btn-select-Inbound {
    position: relative;
    top: -4px;
    left: 88px;
    background-color: transparent;
    color: darkblue;
    border: 1px solid darkblue;
    box-shadow: -1px 1px 1px black;
    outline: none;
    font-weight: bold;
  }
  .btn-select-Outbound:active,
  .btn-select-Inbound:active {
    animation-name: clickerino;
    animation-duration: 1s;
    animation-timing-function: linear;
  }
  .info-selec {
    width: 220px;
    position: RELATIVE;
    left: 105px;
    top: -5px;
    color: darkblue;
    font-weight: bold;
  }
}
