html {
  height: 100%;
}

body {
  background: rgb(135, 206, 250);
  background: no-repeat
    linear-gradient(
      180deg,
      rgba(135, 206, 250, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
}

.all-container {
  margin: 0% 20% 0% 20%;
  max-width: 1900px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.datesContainer {
  display: flex;
  height: 38px;
  margin-top: 10px;
}
input {
  flex: 1;
  border: none;
  margin: 0px 5px 0px 5px;
}
.passenger-count {
  display: flex;
  margin: 0px 0px 5px 5px;
}
.passenger-count > select {
  width: 40px;
  height: 40px;
  align-self: flex-end;
}
.passengerImg {
  height: 48px;
  width: 48px;
}
.passengers {
  display: flex;
  flex-direction: row;
}
.passengersAndScales {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.placesAndDatesContainer {
  display: flex;
  flex-direction: column;
}
.placesContainer {
  display: flex;
  width: 100%;
}
.origin {
  flex: 1;
  margin: 0px 5px 0px 5px;
}
.destination {
  flex: 1;
  margin: 0px 5px 0px 5px;
}

/* React-select arranges */
.css-yk16xz-control {
  border: none !important;
  border-radius: 0% !important;
}
.css-1okebmr-indicatorSeparator {
  display: none;
}
.css-tj5bde-Svg {
  color: transparent;
  width: 20px;
}

.roundTripAndClassContainer {
  display: flex;
  height: 25px;
  margin-bottom: 10px;
}
.roundTrip {
  border: none;
  background-color: white;
  flex: 1;
  margin: 5px 5px 0px 5px;
}
.class {
  border: none;
  background-color: white;
  flex: 1;
  margin: 5px 5px 0px 5px;
}
.scales {
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  align-items: center;
}
.searchButton {
  background: rgb(170, 221, 253);
  position: relative;
  top: -20px;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 1px 1px 1px black;
  outline: none;
  color: black;
  font-weight: bold;
}
.searchButton:active {
  animation-name: clickerino;
  animation-duration: 1s;
  animation-timing-function: linear;
}
.searchForm {
  border: solid 1px white;
  margin: 15px;
  margin-bottom: -69px;
  padding-bottom: 5px;
}
.search-form {
  margin-bottom: -69px;
}
.search-results {
  margin: 120px 0px 0px 15px;
}
.individual-result-Outbound {
  background-image: url("../img/resultado-ida1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;

  height: 194px;
  display: flex;
  color: darkblue;

  animation-name: slideInFromLeft;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}
.individual-result-Inbound {
  background-image: url("../img/resultado-vuelta1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;

  height: 194px;
  display: flex;
  color: darkblue;

  animation-name: slideInFromRight;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}
.logo-Outbound-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0% 7% 2% 0%;
}
.logo-Inbound-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0% 0% 2% 7%;
}
.round-Outbound-container {
  display: flex;
  flex: 1;
  order: -1;

  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 0% 5% 2% 0%;
}
.round-Inbound-container {
  display: flex;
  flex: 1;

  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 0% 0% 2% 5%;
}
.airline-logo-Outbound,
.airline-logo-Inbound {
  border-radius: 50%;
}
.scalesAndPriceContainer {
  display: flex;
  justify-content: space-evenly;
}
.btn-select-Outbound,
.btn-select-Inbound {
  background-color: transparent;
  color: darkblue;
  border: 1px solid darkblue;
  box-shadow: -1px 1px 1px black;
  outline: none;
  font-weight: bold;
  align-self: center;
}
.btn-ida:active {
  animation-name: clickerino;
  animation-duration: 1s;
  animation-timing-function: linear;
}
.info-selec {
  font-weight: bold;
}

@keyframes clickerino {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.78);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media all and (max-width: 1024px) {
  .all-container {
    margin: 0% 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .datesContainer {
    display: flex;
    height: 38px;
    margin-top: 10px;
  }
  input {
    flex: 1;
    border: none;
    margin: 0px 5px 0px 5px;
  }
  .passenger-count {
    display: flex;
    margin: 0px 0px 5px 5px;
  }
  .passenger-count > select {
    width: 30px;
    height: 24px;
  }
  .passengerImg {
    height: 24px;
    width: 24px;
  }
  .passengers {
    display: flex;
    flex-direction: column;
  }
  .passengersAndScales {
    display: flex;
    margin-top: 10px;
  }
  .placesAndDatesContainer {
    display: flex;
    flex-direction: column;
  }
  .placesContainer {
    display: flex;
    width: 100%;
  }
  .origin {
    flex: 1;
    margin: 0px 5px 0px 5px;
  }
  .destination {
    flex: 1;
    margin: 0px 5px 0px 5px;
  }

  /* React-select arranges */
  .css-yk16xz-control {
    border: none !important;
    border-radius: 0% !important;
  }
  .css-1okebmr-indicatorSeparator {
    display: none;
  }
  .css-tj5bde-Svg {
    color: transparent;
    width: 20px;
  }

  .roundTripAndClassContainer {
    display: flex;
    height: 25px;
    margin-bottom: 10px;
  }
  .roundTrip {
    border: none;
    background-color: white;
    flex: 1;
    margin-right: 2.5px;
  }
  .class {
    border: none;
    background-color: white;
    flex: 1;
    margin-left: 2.5px;
  }
  .scales {
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }
  .scales-info {
    align-self: flex-start;
  }
  .searchButton {
    background: rgb(170, 221, 253);
    position: relative;
    top: -29px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 1px 1px 1px black;
    outline: none;
    color: black;
    font-weight: bold;
  }
  .searchButton:active {
    animation-name: clickerino;
    animation-duration: 1s;
    animation-timing-function: linear;
  }
  .searchForm {
    border: solid 1px white;
    margin: 15px;
    margin-bottom: -69px;
    padding-bottom: 5px;
  }
  .search-form {
    margin-bottom: -69px;
  }
  .search-results {
    margin: 100px 0px 0px 15px;
  }
  .individual-result-Outbound {
    background-image: url("../img/resultado-ida2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

    margin-top: 5%;
    height: 194px;
    display: flex;
    flex-direction: column;
    color: darkblue;

    animation-name: slideInFromLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;
  }
  .individual-result-Inbound {
    background-image: url("../img/resultado-vuelta2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

    margin-top: 5%;
    height: 194px;
    display: flex;
    flex-direction: column;
    color: darkblue;

    animation-name: slideInFromRight;
    animation-duration: 3s;
    animation-timing-function: ease-out;
  }
  .logo-Outbound-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0% 40% 0% 40%;
  }
  .logo-Inbound-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0% 40% 0% 40%;
  }
  .round-Outbound-container {
    display: flex;
    flex: 1;
    order: 1;

    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 3% 25% 0% 25%;
  }
  .round-Inbound-container {
    display: flex;
    flex: 1;

    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 3% 25% 0% 25%;
  }
  .airline-logo-Outbound {
    border-radius: 50%;
  }
  .airline-logo-Inbound {
    border-radius: 50%;
  }
  .scalesAndPriceContainer {
    display: flex;
    justify-content: space-evenly;
  }
  .btn-select-Outbound,
  .btn-select-Inbound {
    background-color: transparent;
    color: darkblue;
    border: 1px solid darkblue;
    box-shadow: -1px 1px 1px black;
    outline: none;
    font-weight: bold;
    align-self: center;
  }
  .btn-select-Outbound:active,
  .btn-select-Inbound:active {
    animation-name: clickerino;
    animation-duration: 1s;
    animation-timing-function: linear;
  }
  .info-selec {
    font-weight: bold;
  }
}
/* 767.5 */
@media all and (max-width: 440px) {
  .all-container {
    margin: 0% 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .datesContainer {
    display: flex;
    height: 38px;
    margin-top: 10px;
  }
  input {
    flex: 1;
    border: none;
    margin: 0px 5px 0px 5px;
  }
  .passenger-count {
    display: flex;
    margin: 0px 0px 5px 5px;
  }
  .passenger-count > select {
    width: 30px;
    height: 24px;
  }
  .passengerImg {
    height: 24px;
    width: 24px;
  }
  .passengers {
    display: flex;
    flex-direction: column;
  }
  .passengersAndScales {
    display: flex;
    margin-top: 10px;
  }
  .placesAndDatesContainer {
    display: flex;
    flex-direction: column;
  }
  .placesContainer {
    display: flex;
    width: 100%;
  }
  .origin {
    flex: 1;
    margin: 0px 5px 0px 5px;
  }
  .destination {
    flex: 1;
    margin: 0px 5px 0px 5px;
  }

  /* React-select arranges */
  .css-yk16xz-control {
    border: none !important;
    border-radius: 0% !important;
  }
  .css-1okebmr-indicatorSeparator {
    display: none;
  }
  .css-tj5bde-Svg {
    color: transparent;
    width: 20px;
  }

  .roundTripAndClassContainer {
    display: flex;
    height: 25px;
    margin-bottom: 10px;
  }
  .roundTrip {
    border: none;
    background-color: white;
    flex: 1;
    margin-right: 2.5px;
  }
  .class {
    border: none;
    background-color: white;
    flex: 1;
    margin-left: 2.5px;
  }
  .scales {
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }
  .scales-info {
    align-self: flex-start;
  }
  .searchButton {
    background: rgb(170, 221, 253);
    position: relative;
    top: -29px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 1px 1px 1px black;
    outline: none;
    color: black;
    font-weight: bold;
  }
  .searchButton:active {
    animation-name: clickerino;
    animation-duration: 1s;
    animation-timing-function: linear;
  }
  .searchForm {
    border: solid 1px white;
    margin: 15px;
    margin-bottom: -69px;
    padding-bottom: 5px;
  }
  .search-form {
    margin-bottom: -69px;
  }
  .search-results {
    margin: 100px 0px 0px 15px;
  }
  .individual-result-Outbound {
    background-image: url("../img/resultado-ida2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

    margin-top: 5%;
    height: 194px;
    display: flex;
    flex-direction: column;
    color: darkblue;

    animation-name: slideInFromLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;
  }
  .individual-result-Inbound {
    background-image: url("../img/resultado-vuelta2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

    margin-top: 5%;
    height: 194px;
    display: flex;
    flex-direction: column;
    color: darkblue;

    animation-name: slideInFromRight;
    animation-duration: 3s;
    animation-timing-function: ease-out;
  }
  .logo-Outbound-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 2% 7% 0% 0%;
  }
  .logo-Inbound-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2% 0% 0% 7%;
  }
  .round-Outbound-container {
    display: flex;
    flex: 1;
    order: 1;

    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 5% 0% 0% 0%;
  }
  .round-Inbound-container {
    display: flex;
    flex: 1;

    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 5% 0% 0% 0%;
  }
  .airline-logo-Outbound {
    border-radius: 50%;
  }
  .airline-logo-Inbound {
    border-radius: 50%;
  }
  .scalesAndPriceContainer {
    display: flex;
    justify-content: space-evenly;
  }
  .btn-select-Outbound,
  .btn-select-Inbound {
    background-color: transparent;
    color: darkblue;
    border: 1px solid darkblue;
    box-shadow: -1px 1px 1px black;
    outline: none;
    font-weight: bold;
    align-self: center;
  }
  .btn-select-Outbound:active,
  .btn-select-Inbound:active {
    animation-name: clickerino;
    animation-duration: 1s;
    animation-timing-function: linear;
  }
  .info-selec {
    font-weight: bold;
  }
}
