#
# SERVER
#
SERVER_PORT=3000
HTTP_SERVER_DOMAIN= http://localhost:3000
#
#DATABASE
#
DATABASEHOST=localhost
DATABASEPORT=3306
DATABASENAME=vuelos
DATABASEUSER=demo
DATABASEPASSWORD=password
#
#JWT
#
JWT_SECRET=VUELOS
#
#SENDGRID
#
SENDGRID_KEY = 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
SENDGRID_MAIL_FORM= danielafelicianoelias@gmail.com
#
#
# SMTP
#
SMTP_PORT=587
SMTP_HOST=smtp.ionos.es
SMTP_USER=hackaboss@dsoutoweb.com
SMTP_PASS=U79_)J?NYxRCC?P