.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.logoLink {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noLogoLinks {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > ul > div > li {
  list-style-type: none;
  padding: 0px 15px;
}

/* Mobile (from 767.5 and down) */
@media all and (max-width: 767.5px) {
  .logo {
    width: 98px;
  }
}
