.navigation {
  display: flex;
  justify-content: space-between;
}

.link-1 {
  position: relative;
  left: 300px;
  top: 15px;
}

.link-2 {
  position: relative;
  left: -100px;
  top: 15px;
}

nav > ul > li {
  list-style-type: none;
}

/* Mobile (from 767.5 and down) */
@media all and (max-width: 767.5px) {
  .link-1 {
    position: relative;
    left: 6px;
    top: 11px;
  }
  .link-2 {
    position: relative;
    left: -18px;
    top: 11px;
  }
  .logo {
    position: relative;
    width: 98px;
    left: -20px;
  }
}
